// client/src/components/common/SaveButton/SaveButton.scss

.save-btn {
	align-self: flex-start;
	padding: 0.75rem 1.25rem;
	font-size: 1rem;
	border: none;

	&:disabled {
		background-color: #ccc;
		color: #504f4f;
		cursor: not-allowed;
		opacity: 0.7;
		border-color: #bbb;
	}
}
