.progress-bar {
	width: 100%;
	padding: 5px;
	border: 2px solid var(--hard-black);
	border-radius: var(--corners-round);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--mint-green);
}

.one-third {
	background: linear-gradient(
		to right,
		var(--mint-green) 33.33%,
		transparent 33.33%
	);
}

.two-thirds {
	background: linear-gradient(
		to right,
		var(--mint-green) 66.66%,
		transparent 66.66%
	);
}

.three-thirds {
	background: var(--mint-green);
}
