// client/src/components/auth/PasswordFormField/PasswordFormField.scss

.password {
	outline: none;
	border-radius: var(--corners-round);

	&-container {
		border: 1px solid #ccc;
		border-radius: var(--corners-round);
		margin: 0.8px;
		padding: 0px 10px;
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		font-size: 14px;

		&:focus-within {
			border: 2px solid var(--hard-black);
			margin: 0px;
		}
	}
}

.eye-icon {
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}
