// client/src/components/auth/GetAuthForm/SignUpForm/SignUpForm.scss

@use '../authForm.scss';

.sign {
	&-up {
		&-btn {
			margin-bottom: 0px;
			margin-top: 0px;
		}
	}
}

.name,
.email {
	width: 100%;
}

.password-hint {
	font-size: 0.78rem;
	color: #666;
	margin: -6px 0 6px;
	line-height: 1.4;
}
