h1 {
	color: var(--dark-turq);
	margin-top: 5px;
}

.choose {
	&-business {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 1 1 auto;

		&-form {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&-container {
			display: flex;
			flex-direction: column;
			gap: 10px;
			flex: 1 1 auto;
		}

		&-copy {
			margin: 0;
			color: var(--gray, #555);
		}

		&-value {
			margin: 0 0 0.5rem;
			color: var(--hard-black, #111);
			font-size: 1rem;
		}
	}
}
