/* src/css/MenuCard.scss */

.menu {
	&-card {
		width: 200px;
		height: 180px;
		padding: 2rem;
		border: 1px solid #ccc;
		border-radius: 10px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
		text-align: center;
		background-color: white;
	}

	&-title {
		text-decoration: underline;
		font-weight: bold;
		margin-bottom: 0.5rem;
		font-size: 1.1rem;

		&-input {
			font-size: 1.1rem;
			font-weight: bold;
			border: none;
			outline: none;
			width: 100%;
			text-align: center;
			background-color: transparent;
			font-family: inherit;
			cursor: text;
		}
	}

	&-description {
		font-size: 0.9rem;
		color: #555;
		margin-bottom: 1rem;

		&-textarea {
			width: 100%;
			font-size: 1rem;
			border: none;
			outline: none;
			color: #555;
			resize: none;
			background-color: transparent;
			font-family: inherit;
			text-align: center;
			cursor: text;
		}
	}
}

.view-menu-button {
	background-color: #3eb489;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 6px;
	cursor: pointer;
	font-size: 0.9rem;

	&:hover {
		background-color: #35a07b;
	}
}
