// client/src/components/account/AccountDetails/DetailRow/DetailRow.scss

.detail-row {
	align-items: center;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 15px;

	&__label {
		font-weight: 600;
		color: var(--gray);
		min-width: 100px; // keeps rows aligned
		display: inline-block;
		font-size: 0.95rem;
		white-space: nowrap;
	}

	&__value {
		color: var(--hard-black);
		font-weight: 500;
		word-break: break-word; // prevents layout breaking on long emails
	}
}
