/* Elements -------------------------------------------*/
h1 {
	color: var(--dark-turq);
	margin-top: 5px;
}

ul {
	font-size: 20px;
	padding-inline-start: 25px;
}

/* Classes --------------------------------------------*/
.business-info {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	.question:nth-of-type(2) {
		margin-top: 20px;
	}
}

.name-website,
.address {
	&-container {
		display: grid;
		gap: 30px;
	}
}

.street-address {
	width: 100%;
}

.city {
	flex: 1 0 100px;

	&-state-zip {
		display: flex;
		column-gap: 15px;
	}
}

.city-state-zip,
.street-address,
.website,
.business-name {
	max-width: 400px;
	width: 100%;
}

.state {
	flex: 0 0 60px;
}

.zip {
	flex: 0 0 80px;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.notes {
	h2 {
		margin-top: 0px;
	}
}
