// client/src/components/setup/Step1/Step1.scss

/* Elements -------------------------------------------*/
h1 {
	color: var(--dark-turq);
	margin-top: 5px;
}

ul {
	font-size: 20px;
	padding-inline-start: 25px;
}

/* Classes --------------------------------------------*/
.business-info {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	.question:nth-of-type(2) {
		margin-top: 20px;
	}
}

.name-website {
	&-container {
		display: grid;
		gap: 30px;
	}
}

.website,
.business-name {
	max-width: 400px;
	width: 100%;
}

.notes {
	h2 {
		margin-top: 0px;
	}
}
