// client/src/components/business/EditBusinessInfo/EditBusinessInfo.scss

@import '../../../styles/mixins.scss';

.edit-business-info {
	align-items: end;
	flex: 1 1 auto;

	&-form-fields {
		display: grid;
		gap: 20px;

		@include respond-to(mobile) {
			grid-template-columns: 1fr;
			grid-template-areas:
				'logo'
				'business'
				'dietary';
		}

		@include respond-to(tablet) {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'logo logo'
				'business dietary';
		}

		@include respond-to(desktop) {
			grid-template-columns: 1fr 2fr 2fr;
			grid-template-areas: 'logo business dietary';
			gap: 80px;
		}
	}

	&-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 15px;

		h1 {
			text-align: center;
			margin: 0;
		}
	}
}

.logo-upload {
	flex: 0 0 15%;
	margin: auto 0;
	cursor: not-allowed;
	grid-area: logo;
}

.upload-box {
	border: 2px dashed gray;
	padding: 10px;
	text-align: center;
	height: 100px;
	font-size: 14px;
	color: #666;
	border-radius: var(--corners-round);
}

.form-column {
	display: grid;
	gap: 20px;
	flex: 1 1 auto;

	&.business-col {
		grid-area: business;
	}

	&.dietary-col {
		grid-area: dietary;
	}
}

.save {
	&-section {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}

	&-note {
		font-size: 12px;
		color: #777;
		margin-bottom: 10px;

		&-container {
			padding: 0 10px;
			line-height: 1;
			text-align: right;
		}
	}
}
