/* client/src/components/menu/MenuDashboard/MenuDashboard.scss */

.dashboard {
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
		justify-content: center;
	}

	&-title {
		color: #034c53;
		font-size: 1.8rem;
		font-weight: 600;
		margin: 0;
	}
}

.add-menu-btn {
	position: absolute;
	top: 110px;
	left: 55px;
}

.menu {
	&-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 1.5rem;
	}

	&-card-wrapper {
		position: relative;
	}
}

.delete-icon {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	z-index: 1;
}

/* Confirmation Modal Styles */

.confirm {
	&-delete-box {
		background-color: #ffe5e5;
		padding: 30px;
		border: 1px solid #ccc;
		border-radius: 10px;
		position: fixed;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -30%);
		z-index: 999;
		width: 450px;
		font-family: var(--font-family);
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 200px;
	}

	&-title {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 5px;
	}

	&-message {
		font-size: 16px;
		margin-bottom: auto;
	}
}

.delete {
	&-buttons-box {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		gap: 50px;
	}

	&-cancel {
		background-color: #034c53;
	}

	&-confirm {
		background-color: #dc3545;
	}

	&-cancel,
	&-confirm {
		padding: 6px 12px;
		border: none;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		font-size: 14px;
	}
}
