// client/src/components/account/AccountDetails/AccountDetails.scss

.account-details {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	&__card {
		background: var(--hard-white);
		border: 1px solid #eee;
		border-radius: var(--corners-round);
		padding: 16px;
		gap: 12px;
		display: grid;
		grid-template-columns: 1fr auto;
	}

	&__edit-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		background: none;
		border: none;
		cursor: pointer;

		img {
			width: 24px;
			height: 24px;
		}
	}
}

.detail-rows-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
